//header_1
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
.header{
    position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        box-shadow: -1px 6px 32px 3px rgba(151, 148, 148, 0.046);
}
.container {
    max-width: 1500px;
    margin: 0 auto;
     width: 100%;
}
.box{
    display: flex;
}
.language{
    margin-left: 104px;
    margin-top: 28.74px;
    display: flex;
    gap: 10px;
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        color: #262626;
    }
}
.user{
    display: flex;
    gap: 6.53px;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
    p{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-top: -5px;
        color: #262626;
    }
}
.user_dacument{
    margin-top: 29.24px;
    margin-left: 900px;
}
.text_1::selection {
    background: #fdfdfd00;
}
.text_2::selection {
    background: #fdfdfd00;
}
.img_1::selection {
    background: #fdfdfd00;
}
.text_3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    font-weight: 400;
    margin-top: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.text_4{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #262626a3;

}
.img_2{
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-top: 17px;
}
.img_2::selection {
    background: #fdfdfd00;
}
.korzinka{
    margin-top: 9.74px;
    margin-left: 20px;
    display: flex;
    color: #fff;
}
.korzinka_tavar{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FB7181;
    text-align: center;
    margin-left: -10px;
    margin-top: 13px;
}
.text_korzinka{
    font-size: 10px;
    margin-top: 2px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.img_3{
    width: 20.95px;
    height: 20.94px;
    cursor: pointer;
    margin-top: 5px;
}
.usd_search{
    display: flex;
    gap: 6.56px;
    margin-top: 25px;
    margin-left: 32px;
}
.img_3::selection {
    background: #fdfdfd00;
}

.text_3::selection {
    background: #fdfdfd00;
}

.text_4::selection {
    background: #fdfdfd00;
}
.text_korzinka::selection {
    background: #fdfdfd00;
}
//header_1


//header_2
.logo{
    margin-top: 26px;
    display: flex;
    gap: 6px;

}
.logo{
    img{
        width: 44px;
        height: 44px;
     margin-left: 104px; 
    }
}
.logo_text{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #22262A;
}
.text_logo_1{
    margin-top: 8px;
}
.widh{
    width: 100%;
    background-color: #b2b2b224;
    height: 2px;
    margin-top: 14px;
}
.ul1{
    display: flex;
    gap: 90px;
    margin-left: 470px;
    margin-top: 5px;
}
.li1{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    cursor: pointer;
    transition: 250ms ease;
    font-weight: 500;
}
.li1:hover{
    color: #40BFFF;
}
.li2{
    color: #40BFFF;
}
.logo{
    display: flex;
}
.box_1{
    margin-top: 95px;
}
.logo_text::selection{
    background: #ffffff00;
}
//Korzinka
.ul_2{
    display: flex;
    gap: 22px;
    justify-content: center;
    margin-top: 14.5px;
}
.ul_12{
    background-color: #F6F7F8;
    width: 100%;
    height: 51px;
}
.li_2{
    font-size: 18px;
    color: #33A0FF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-top: 14.5px;
    cursor: pointer;
}
.spane1{
    margin-left: 8px;
    color: #C1C8CE;
    font-family:none;
}
.text_Nt{
    font-size: 18px;
    color: #262626;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 14.5px;
    cursor: pointer;
}
.PRODUCT{
    display: flex;
    margin-left: 151px;
    margin-top: 46.94px;
    gap: 605px;
}
.block_text{
    display: flex;
    gap: 115px;
}
.pro_1{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
    
.uz{
    margin-top: 23px;
}
//
.tavar1{
    width: 100%;
    height: 200px;
}
//

//Total
.input_1{
    width: 251px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0px 20px;
    border: 2px solid #F1F3F4;
    outline: none;
    color: #262626d7;
}
.btn{
    width: 118px;
    height: 60px;
    margin-left: -5px;
    background-color: #33A0FF;
    border: none;
    color: #fff;
    font-size: 18px;
border-radius: 0px 10px 10px 0px;
cursor: pointer;
}
.input{
    margin-left: 134px;
    margin-top: 90px;
}
.Subtotal{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #262626;
        justify-content: space-between;
        margin-top: 23px;
    }
.Total_prise{
    width: 385.5px;
    height: 310px;
}
.total_hisob{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #22262A;
}
.total_hisob{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.Total{
    display: flex;
}
.Total_prise{
    margin-left: 431px;
    margin-top:90px ;
}
.btn_b{
    font-family: 'Poppins', sans-serif;
    width: 374.12px;
    height: 60px;
    background-color: #33A0FF;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn_32e{
    display: flex;
    justify-content: center;
    padding: 24px 0px;
}
.korzinka_mahsulotlar{
    display: none;
}
.korzinPC{
    display: flex;
    justify-content: center;
}
//tavar
.none{
    display: none;
}
.chegirma_text{
    margin-left: 100px;
    margin-top: 268px;
}
.img_slider{
    width:100%;
        height: 579px;
    background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}
.slider{
    display: flex;
    position: relative;
}
.block_slider{
    margin-top: -250px;
}
.item {
    padding: 0 5px;
}
.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-next {
    width: 90px;
    height: 580px;
    border: none;
    position: absolute;
    margin-left: 1305.5px;
    cursor: pointer;
    background-color: #8b8b8b00;
    background-repeat: no-repeat;
        background-image: url('../img_code/arrow1.svg');
        background-position: center;
        background-size: 50px 50px;
        color: #ffffff;
}
.slick-prev {
    z-index: 1;
    width: 90px;
        height: 580px;
    background-color: #8b8b8b00;
    border: none;
    margin-left: 5px;
    position: absolute;
    background-size: 50px 50px;
    cursor: pointer;
    background-repeat: no-repeat;
        background-image: url('../img_code/arrow2.svg');
        background-position: center;
        background-size: 50px 50px;
}
.slick-arrow{
    font-size: 0px;
        transition: 400ms ease;
        outline: none   ;
}
.slider:hover {
    .slick-arrow {
        background-color: rgba(255, 255, 255, 0.3);
        transition: 400ms ease;
    }
}
//tavar
//tavar_2
.text_5{
    width: 202.18px;
    font-size: 20px;
    font-weight: 700;
    color: #223263;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-top: 29.04px;
    margin-left: 52.43px;
}
.span_1{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #9098B1;
    position: absolute;
    margin-top: 267px;
    margin-left: -350px;
}
.span_2{
    color: #FB7181;
}
.span_4{
    font-weight: 600;
    margin-top: 50px;
}
.span_3{
    position: absolute;
    font-size: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #40BFFF;
        margin-top: 280px;
        margin-left: -140px;
}
.a1{
    margin-top: 20px;
}
.tovar_1{
    cursor: pointer;
}
.span_5{
    font-size: 18px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        color: #9098B1;
        position: absolute;
        margin-top: 302px;
        margin-left: -300px;
}
.tovar_N2{
    display: flex;
    margin-top: -100px;
    margin-left: 68px;
    position: absolute;
}
.a2{
    margin-top: 107px;
    margin-left: 50px;
}

//tavar_2
.tex{
    display: flex;
    justify-content: center;
    margin-top: 329px;
    h2{
        font-size: 35px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: #22262A;
    }
}
//tab
.tab_1{
    margin-top: 26px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 61px;
}
.il{
    font-size: 22px ;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    cursor: pointer;
}
li:hover{
    color: #33A0FF;
    transition: 300ms ease;
}
li::selection{
    background: fixed;
}.search_1{
    width: 506px;
    height: 60px;
    outline: none;
    border: 2px solid #BCDDFE;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    padding: 0px 23px;
}
.search_btn{
    width: 127px;
    height: 60px;
    background-color: #40BFFF;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: -5px;
    cursor: pointer;
}
.search{
    margin-left: 200px;
}
//tab
.img_logo::selection{
    background: fixed;
}
.tab_1{
    margin-top: 40px;
}
.search_data{
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border:none;
    position: relative;
}
.img_prise{
    width: 80px;
    margin-top: 20px;
    margin-left:200px;
}
.img_prise_1{
    flex-direction: column;
    border: none;
    position: relative;
    display: flex;
    border: 1px solid #dfdcdc55;
    background-color: #fff;
}
.text_prise{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: red;
    text-align: center ;
}
.img_code_arrow{
    width: 25px;
    height: 25px;
    background-color: #b7b4b47b;
    border-radius: 50%;
    margin-top: 14px;

}
.img_arrow{
    margin-top: 4px;
    margin-left:3.5px;
    cursor: pointer;
}
.img_arrow::selection{
    background: fixed;
}
.none_2 {
    display: none;
}
.one{
    display: flex;
}
//footer
.footer{
    width: 1500px;
    height: 680.59px;
    background-color: #BCDDFE;
    margin-top: 155px;
}
.logo_2{
    width: 39px;
    height: 39px;
    margin-top: 149px;
    margin-left: 134px;
    cursor: pointer;
}
.logo_2::selection{
    background: fixed;
}
.foter_logo{
    display: flex;
    gap: 7px;
}
.footer_text{
    margin-top: 154.62px;
}
.footer_text_1{
    font-family: 'Poppins', sans-serif;
    width: 221.1px;
    margin-top: 16px;
    margin-left: 134px;
    font-size: 12px;
    font-weight: 400;
    color: #22262A;
}
.footer_2{
    margin-top: 161.62px;
    margin-left: 308px;
    h3{
        font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
        color: #22262A;
    line-height: 27px;
    }
    p{
        width: 198px;
        font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-top: 19px;
        font-weight: 400;
        color: #22262A;
    }
}
.footer_class{
    display: flex;
}
.img_pragrams{
    display: flex;
    gap: 39px;
    margin-top: 24px;
}
.footer_3{
    margin-top: 165.55px;
    margin-left: 189px;
    h3{
        font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #22262A;
    line-height: 27px;
        font-weight: 500;
    }
    p{
        font-size: 14px;
        color: #22262A;
    font-family: 'Poppins', sans-serif;
        font-weight: 400;   
    line-height: 21px;
    width: 148.11px;
    margin-top: 19px;
    }
}
.chiziq{
    display: flex;
    width: 1180.86px;
    height: 1.17px;
    margin-left: -1020px;
    margin-top: 569px;
    background-color: #F6F7F8;
}
.pragrams{
    display: flex;
    margin-top: 601px;
    margin-left: -179px;
    gap: 20px;
    img{
        width: 38.31px;
    height: 25.14px;
    cursor: pointer;
    }
}
.product_image{
    width: 299.5px;
    height: 272.5px;
}
.name_text{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #223263;
    display: flex;
}	@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

	:root {
	    --white: #ffffff;
	    --white-25: #e5e5e5;
	    --white-50: #f5f5f5;
	    --white-55: #f6f6f6;
	    --black: #353535;
	    --black-25: #5b5b5b;
	    --border-5: 5px;
	    --padding-1: 1rem;
	    --padding-2: 2rem;
	    --padding-3: 3rem;
	    --margin-1: var(--padding-1);
	    --margin-2: var(--padding-2);
	    --margin-3: var(--padding-3);
	}

	.material-symbols-rounded {
	    user-select: none;
	    font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 0, "opsz" 48;
	}


	.header__title {
	    margin-bottom: var(--margin-3);
	    font-size: clamp(1rem, 6vw, 2rem);
	}

	.most-popular-products {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    padding: 0 var(--padding-1);
	    gap: 2rem;
	    width: 100%;
        margin-top: 23px;
	}

	.product-card {
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    min-width: 250px;
	    width: 100%;
	    max-width: 300px;
	    overflow: hidden;
	    border: 1px solid var(--white-25);
	    border-radius: var(--border-5);
	}

	.product-card__container {
	    height: 360px;
	    width: 100%;
	    position: relative;
	    background-color: #fff;
	    overflow: hidden;
	}

	.product-card__img {
	    overflow: hidden;
	}

	.product-card__img img {
	    position: absolute;
	    width: 100%;
	    transition: transform 4s ease;
	}

	.product-card__container:hover img {
	    transform: scale(1.2);
	}

	.product-card__btn {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    top: 1rem;
	    right: -1rem;
	    width: 40px;
	    height: 40px;
	    background-color: rgba(248, 245, 245, 0.583);
	    border-radius: 50%;
	    color: var(--black-25);
	    z-index: 10;
        font-size: 0px;
	    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
	    opacity: 0;
	    transition: all 0.3s ease, top 0.3s ease 0.2s;
        box-shadow: 4px 5px 17px -11px rgba(0, 0, 0, 0.55);
	}
    .kor_img{
        width: 30px;
        height: 30px;
        box-shadow: 4px 5px 17px -11px rgba(0, 0, 0, 0.55);
    }
    .lik_img{
        width: 25px;
        height: 25px;
        box-shadow: 4px 5px 17px -11px rgba(0, 0, 0, 0.55);
        margin-left: 1.5px;
    }
    .lik_img:hover{
        background: rgba(255, 255, 255, 0);
    }
	.product-card:hover .product-card__btn {
	    right: 1rem;
	    opacity: 1;
	}

	.product-card:hover .product-card__btn.cart {
	    top: calc(1rem + 50px);
	}

	.product-card__btn:hover {
        background-color: var(--white);
	    color: var(--white-25);
	}

	.product-card__description {
	    padding: calc(var(--padding-1) / 2) var(--padding-1);
	    display: flex;
	    flex-direction: column;
	    row-gap: 0.2rem;
	    font-size: 1.1rem;
	}

	.product-card__color {
	    display: flex;
	    column-gap: 0.5rem;
	    padding: calc(var(--padding-1) / 2) var(--padding-1);
	}
	a.active {
	    color: blue;
	}
	[data-tooltip]:hover::before {
	    opacity: 1;
	}
    .product-card__text{
        font-size: 18px;
        color: #223263;
    font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
    }
    .product-card__price{
        font-size: 18px;
        font-weight: 700;
        color: #40BFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    }
    .img_url{
        display: flex;
        justify-content: center;
        width: 280px;
        height: 272.5px;
        border-radius: 5px;
        margin-top: 50px;
    }
    .product-card{
        box-shadow: 4px 5px 17px -11px rgba(0, 0, 0, 0.55);
        border-radius: 10px;
    }
    .data_text{
        font-size: 27px;
        font-weight: 500;
        color: #22262A;
    font-family: 'Poppins', sans-serif;
    line-height: 40.5px;
    margin-top: 53px;
    margin-left: -50px;
    }
    .data_be{
        display: flex;
        gap: 257px;
        justify-content: center;
        margin-top: 115px;
    }
    .te1{
        margin-top: 40px;
    }
    .img_data{
        align-items: center;
    }